.container {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.mobile {
	display: flex;
	flex-direction: column;
}

.desktop {
	display: none;
}

@media (min-width: 960px) {
	.mobile {
		display: none;
	}
	.desktop {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}
}
