@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

:root {
	--maxWidth: 1440px;

	--bgDark: #111;
	--bgLight: #eee;

	--bgCardDark: #222;
	--bgCardLight: #ddd;

	--colorDark: #ddd;
	--colorLight: #333;

	--titleDark: linear-gradient(to right, burlywood, blueviolet, cyan);
	--titleLight: linear-gradient(to right, darkgoldenrod, blueviolet, darkcyan);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Ubuntu", sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

p {
	line-height: 1.5;
}

.darkTheme {
	background-color: var(--bgDark);
	color: var(--colorDark);
}

.lightTheme {
	background-color: var(--bgLight);
	color: var(--colorLight);
}

a {
	text-decoration: none;
	color: inherit;
}
